In [31]:
import pandas as pd 
import matplotlib.pyplot as plt

In [10]:
airlines_project_df = pd.read_csv('flights.csv')

In [11]:
airlines_project_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
airlines_project_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [15]:
airlines_project_revised_df = airlines_project_df.drop(columns=['TAIL_NUMBER', 'WHEELS_ON', 'WHEELS_OFF', 'TAXI_IN', 'TAXI_OUT', 'AIR_TIME'])

In [17]:
airlines_project_revised_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   ORIGIN_AIRPORT       object
 7   DESTINATION_AIRPORT  object
 8   SCHEDULED_DEPARTURE  int64
 9   DEPARTURE_TIME       float64
 10  DEPARTURE_DELAY      float64
 11  SCHEDULED_TIME       float64
 12  ELAPSED_TIME         float64
 13  DISTANCE             int64
 14  SCHEDULED_ARRIVAL    int64
 15  ARRIVAL_TIME         float64
 16  ARRIVAL_DELAY        float64
 17  DIVERTED             int64
 18  CANCELLED            int64
 19  CANCELLATION_REASON  object
 20  AIR_SYSTEM_DELAY     float64
 21  SECURITY_DELAY       float64
 22  AIRLINE_DELAY        float64
 23  LATE_AIRCRAFT_DELAY  float64
 24  WEATHER_DELAY        float64
dtypes: float64(11), int64(10), object(4)
memory usage: 1.1+ GB

In [18]:
airlines_project_revised_df['DATE'] = pd.to_datetime(airlines_project_revised_df[['YEAR', 'MONTH', 'DAY']])

In [19]:
airlines_project_revised_df = airlines_project_revised_df.drop(['YEAR', 'MONTH', 'DAY'], axis=1)

In [22]:
airlines_project_revised_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 23 columns):
 #   Column               Dtype
---  ------               -----
 0   DAY_OF_WEEK          int64
 1   AIRLINE              object
 2   FLIGHT_NUMBER        int64
 3   ORIGIN_AIRPORT       object
 4   DESTINATION_AIRPORT  object
 5   SCHEDULED_DEPARTURE  int64
 6   DEPARTURE_TIME       float64
 7   DEPARTURE_DELAY      float64
 8   SCHEDULED_TIME       float64
 9   ELAPSED_TIME         float64
 10  DISTANCE             int64
 11  SCHEDULED_ARRIVAL    int64
 12  ARRIVAL_TIME         float64
 13  ARRIVAL_DELAY        float64
 14  DIVERTED             int64
 15  CANCELLED            int64
 16  CANCELLATION_REASON  object
 17  AIR_SYSTEM_DELAY     float64
 18  SECURITY_DELAY       float64
 19  AIRLINE_DELAY        float64
 20  LATE_AIRCRAFT_DELAY  float64
 21  WEATHER_DELAY        float64
 22  DATE                 datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(7), object(4)
memory usage: 1021.1+ MB

In [23]:
airlines_project_revised_df.set_index('DATE', inplace=True)

In [28]:
second_quater_df = airlines_project_revised_df.loc['2015-05-01':'2015-08-31']

In [30]:
second_quater_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2032144 entries, 2015-05-01 to 2015-08-31
Data columns (total 22 columns):
 #   Column               Dtype
---  ------               -----
 0   DAY_OF_WEEK          int64
 1   AIRLINE              object
 2   FLIGHT_NUMBER        int64
 3   ORIGIN_AIRPORT       object
 4   DESTINATION_AIRPORT  object
 5   SCHEDULED_DEPARTURE  int64
 6   DEPARTURE_TIME       float64
 7   DEPARTURE_DELAY      float64
 8   SCHEDULED_TIME       float64
 9   ELAPSED_TIME         float64
 10  DISTANCE             int64
 11  SCHEDULED_ARRIVAL    int64
 12  ARRIVAL_TIME         float64
 13  ARRIVAL_DELAY        float64
 14  DIVERTED             int64
 15  CANCELLED            int64
 16  CANCELLATION_REASON  object
 17  AIR_SYSTEM_DELAY     float64
 18  SECURITY_DELAY       float64
 19  AIRLINE_DELAY        float64
 20  LATE_AIRCRAFT_DELAY  float64
 21  WEATHER_DELAY        float64
dtypes: float64(11), int64(7), object(4)
memory usage: 356.6+ MB